<div class="modal fade" id="myModalRecuperar" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Recuperar contraseña</h4>
        </div>

        <div id="recuperarHTML"></div>
        
        <div class="modal-body" style="padding:40px 50px;">
          <div role="form">
            <div class="form-group">
              <label for="correo"><span class="glyphicon glyphicon-user"></span> Correo</label>
              <input type="text" class="form-control" id="correo" placeholder="Email">
            </div>
            <button type="button" class="btn btn-primary page-scroll btn-block" id ="btnRecuperar"><span class="glyphicon glyphicon-off"></span> Recuperar</button>
          </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
          <p>Revise su correo una vez finalizado</p>
        </div>
      </div>
      
    </div>
  </div>
  <script src="views/app/js/recuperar.js"></script>